.self-intro-tags {
    padding: 20px;
}

.about-me-container {
    display: flex;
    position: absolute;
    border: 3px solid #fff;
    padding: 20px;
    height: 500px;
}

.inside-about-me-container {
    flex: 1;
    float: left;
    align-self: center;
    /* border: 2px solid red; */
    width: 100;
}

.btn-icon-ctn {
    z-index: 2;
}

.btn-icon-ctn::before {
    content: "";
    display: block;
    position:absolute;
    width: 40px;
    height: 40px;
    background-color:#123242;
    z-index: 1;
    transition: 1s ease;
}

.btn-icon-ctn::before:hover {
    z-index: -1;
}

.img_fb:hover {
    border-radius: 30px;
    background-color: aquamarine;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
}