.self-intro-tags {
    padding: 20px;
}

.about-me-container {
    display: flex;
    position: absolute;
    border: 3px solid #fff;
    padding: 20px;
    height: 500px;
}

.inside-about-me-container {
    flex: 1;
    float: left;
    align-self: center;
    /* border: 2px solid red; */
    width: 100;
}