body {
    height: 100vh;
    background-image: linear-gradient( to bottom, #132043, #DECBA4);
}


footer {
    background-color: #D8B5FF;
}


@media (max-width: 767px) {
    /* body {
        background-image: linear-gradient( to bottom, #000046, #1CB5E0);
    } */
    .header-content {
        /* justify-items: center; */
        /* align-items: center; */
        flex-flow: row wrap;
        justify-content: center;
    }
}